<html>
  <body>
    <h1>Super simple journal app</h1>
    <h2>Home page</h2>
    <% if @logged_in %>
      <p>You are logged in as <%= @username %>. |
      <a href="/logout">Logout</a></p>

    <% else %>
      <p>
        You are not logged in. |
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
      </p>
    <% end %>
    <h3>Journal entries</h3>
    <% if @entries %>
      <% @entries.each do |entry| %>
        <div class="entry">
          <p>
            <a href="/entries/<%= entry["entry_id"] %>"><%= entry["title"] %></a> 
            <%= entry["created_at"] %>
          </p>
          <hr>
        </div>
      <% end %>
    <% else %>
      <p>Empty</p>
    <% end %>
  </body>
</html>

